.why-our-services-minicard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  border: solid;
  border-color:darkgray;
  border-width: 1px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.why-our-services-minicard img{
    width: 35px;
    margin-left: 10px;
}

.why-our-services-minicard .minicard-title {
  font-size: 16px;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0D1741;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
