.why-our-services-minicard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  border: solid;
  border-color:darkgray;
  border-width: 1px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.why-our-services-minicard img{
    width: 35px;
    margin-left: 10px;
}

.why-our-services-minicard .minicard-title {
  font-size: 16px;
  font-weight: 600;
  color: #0D1741;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}

/* -------------------------------- Media Quaries ----------------------------------------- */

@media (max-width : 1200px){
  .why-our-services-minicard {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .why-our-services-minicard img{
    width: 25px;
    margin-left: 10px;
}

  .why-our-services-minicard .minicard-title {
    font-size: 10px;
    margin-left: 8%;
  }

}


/* ------------------Media Quaries (Mobile Screens:800)-------------------- */

@media (max-width: 800px) {
  .why-our-services-minicard{
    min-width :45%;
    padding: 10px;
    min-height: 40px;
  }
  
  .why-our-services-minicard .minicard-title {
    font-size: 13px;
    margin-left: 8%;
  }
}