/* Slim scroll */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.what-we-do-card-heading-container {
  text-align: center;
  margin-top: 30px;
}
.what-we-do-card-heading1 {
  font-size: 2em;
  margin: 0;
  font-family: "Poppins";
}
.what-we-do-card-heading2 {
  font-size: 2em;
  margin: 0;
  font-family: "Poppins-bold";
}
.what-we-do-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  padding: 8rem;
  padding-top: 30px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .what-we-do-card-container {
    padding: 2em;
    padding-bottom: 10px;
  }
}

.card-container {
  position: relative;
  transition: transform 0.3s ease;
}

.card-container:hover {
  transform: translateY(-10px);
}

.card-container:hover .card-image {
  filter: grayscale(0%);
}

.card-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

/* css for Intership component */

.internship-container {
  margin-top: 80px;
  .intership-text-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .heading1 {
      font-size: 1.5em;
      color: #3056d3;
      font-weight: 500;
    }
    .heading2 {
      font-size: 42px;
      font-family: "Poppins-bold";
      color: #212b36;
    }
    .heading3 {
      font-size: 16px;
      line-height: 26px;
      font-family: "Poppins";
      max-width: 600px;
      text-align: center;
      color: #637381;
    }
  }

  .job-card-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Add space between the cards */
  }

  .job-card-container .JobCard {
    flex: 0 0 calc(33.33% - 20px); /* Each card takes 1/3 of the row minus the gap */
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .job-card-container {
      justify-content: space-around; /* Distribute cards evenly on smaller screens */
    }
    .job-card-container .JobCard {
      flex: 0 0 calc(45% - 20px); /* Adjust width for smaller screens */
    }
  }

  @media (max-width: 480px) {
    .job-card-container {
      justify-content: center; /* Center cards on very small screens */
    }
    .job-card-container .JobCard {
      flex: 0 0 calc(90% - 20px); /* Adjust width for very small screens */
    }
  }
}

/* css for feature of internship */

.features-of-internship-container {
  padding: 40px;
}

.features-of-internship-container .h1 {
  color: #3056d3;
  font-size: 24px;
}

.features-of-internship-container .h2 {
  font-size: 42px;
  font-family: "Poppins-Bold";
}

.features-of-internship-container .menu-items {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.features-of-internship-container .menu-items .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.features-of-internship-container .menu-items .item .icon {
  width: 100px;
  height: 100px;
  color: white;
  background-color: #3056d3;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.features-of-internship-container .menu-items .item .icon:hover {
  transform: rotate(90deg);
}

.features-of-internship-container .menu-items .item .heading1 {
  font-size: 20px;
  font-family: "Poppins-semi-bold";
}

.features-of-internship-container .menu-items .item .heading2 {
  font-size: 18px;
  color: #637381;
  max-width: 270px;
}

@media (max-width: 600px) {
  .features-of-internship-container .menu-items {
    flex-direction: column;
  }
}

/* css for internship accordion  */
.internship-accordion-container {
  margin-top: 60px;
  background: #f3f4fe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  margin-top: 60px;
  padding: 10px;
  font-size: 24px;
  color: #3056d3;
  font-family: "Poppins-semi-bold";
}

.h2 {
  font-size: 34px;
  font-family: "Poppins-Bold";
}

.accordion-container {
  margin: 60px 0px 60px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.accordion-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion-container .MuiAccordion-root {
  box-sizing: border-box;
  padding: 30px;
  font-family: "Poppins", sans-serif; /* Apply font family */
  font-size: 18px; /* Apply font size */
}

.accordion-container .MuiAccordionSummary-root {
  background-color: #fff;
}

.accordion-container .MuiAccordionDetails-root {
  background-color: #f9f9f9; /* Background color for the details part */
}

.accordion-container .MuiTypography-root {
  width: 100%; /* Ensure the typography takes full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-family: "Poppins", sans-serif; /* Apply font family */
  font-size: 18px; /* Apply font size */
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .accordion-container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 20px;
  }

  .accordion-container .MuiAccordion-root {
    padding: 20px;
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .h1 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .h2 {
    font-size: 28px; /* Adjust font size for smaller screens */
  }
}
