* {
  box-sizing: border-box;
  margin: 0;
}

.contactus-main-container {
  display: flex;
  justify-content: space-between;
  background-color: #0d1741;
  width: 100vw;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 80px;
}

.contact-us-container {
  color: white;
  padding: 20px;
  width: 40%;
  margin-left: 50px;
}

@media (max-width: 1250px) {

  /* Media Query */
  .contact-us-container {
    margin-left: 0px;
  }
}

.contact-us-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-us-container .contact-icon {
  width: 40px;
  margin-right: 10px;
}

.contact-us-container .main-heading {
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-us-container .description {
  font-size: 13px;
  margin-bottom: 20px;
  color: #bababa;
  max-width: 498px;
}

.contact-us-container .highlight {
  color: #00b894;
}

.contact-us-container .divider {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
}

.contact-info .phone {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.phone-inner-con {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
}

.phone-inner-con .phone-icon {
  width: 40px;
  margin-right: 10px;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 30px;
}

.contactus-input-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 50px;
}

@media (max-width: 1250px) {

  /* Media Query */
  .contactus-input-container {
    margin-right: 0px;
  }
}

.contactus-input-container .input-heading {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.contactus-input-container input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
}

.contactus-input-container textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  height: 80px;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

.contactus-input-container button {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #000;
  outline: none;
  font-size: 20px;
}

/* -------------------------------- Media Query for Mid Level ---------------------------- */

@media (max-width: 1200px) {
  .contact-us-container {
    padding: 10px;
    width: 55%;
    margin-left: 20px;
    margin-right: 30px;
    padding: 20px;
  }

  .contact-us-container .main-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

/* -------------------------------- Media Query for Mobile screen---------------------------- */

@media (max-width: 840px) {
  .contactus-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 80px;
  }

  .contact-us-container {
    width: 100%;
  }

  .contactus-input-container {
    width: 100%;
  }

  .phone-inner-con .phone-number {
    font-size: 15px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.background {
  height: auto;
  margin-top: 6%;

}


.landing-element {
  fill: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6%;
  padding: 15px;
}

.landing-element h1 {
  padding-top: 4%;
  height: 30vh;
  font-family: "Mulish", sans-serif;
  font-size: 50px;
}

.svg-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -2%;
}

.svg-element svg {
  fill: aqua;
  width: 60vw;
}

.svg-element p {
  width: 30vw;
  padding-left: 20px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #737373;
}

.form-element {
  height: 150vh;
  margin-top: 3%;
  background-color: #c5c4c4;
  padding: 0% 0% 0% 2%;
}

.contact-details {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-details h1 {
  padding: 5% 0% 2% 3%;
  font-family: "Mulish", sans-serif;
  font-size: 30px;
}

.contact-details p {
  padding: 1% 0% 2% 3%;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.form-details {
  width: 50vw;
}

.details-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.details-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.icons {
  background-color: #bababa;
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  width: 100%;
}

.details p {
  padding: 0% 0% 1% 2%;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.details h1 {
  padding: 0% 0% 1% 2%;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 700;
}