.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
  color: #333;
}

.navbar-logo a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu i {
  color: #333;
  font-size: 1.5em;
  cursor: pointer;
  display: block;
}

.navbar-links {
  display: none;
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.navbar-links.active {
  display: flex;
}

.navbar-links li {
  margin: 0.5em 0;
}

.navbar-links li a {
  color: #333;
  text-decoration: none;
}

.navbar-links li a.active {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .navbar-menu i {
    display: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin: 0;
  }

  .navbar-links li a {
    margin-left: 1em;
  }

  .navbar-links li a.active {
    text-decoration: underline;
  }
}
