.why-chooseus-container-main {
  width: 100vw;
  margin-top: 80px;
  gap: 50;
}

.why-chooseus-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.why-choose-img-con{
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-choose-img-con img {
  max-width: 500px;
  max-height: 450px;
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.why-chooseus-text-con {
  max-width: 55%;
  margin-left: 50px;
  flex-basis: content;
  margin-left:25px;
}

.why-chooseus-text-con h2 {
  font-size: 18px;
  font-weight: 0px;
  margin: 0px 0px 5px 0px;
}

.why-chooseus-text-con h1 {
  font-size: 23px;
  font-weight: 600;
  margin: 0px 0px 5px 0px;
}

.why-chooseus-text-con p {
  font-size: 14px;
  margin: 5px 0px 15px 0px;
  /* width: 95%; */
}

.why-chooseus-text-con .special {
  color: rgb(61, 194, 61);
  font-weight: 600;
}

/* -------------------------- Media Query for Mid Level Screens ---------------------- */

@media (max-width:1000px){
  .why-chooseus-text-con h2 {
    font-size: 16px;
    font-weight: 0px;
    margin: 0px 0px 5px 0px;
  }
  
  .why-choose-img-con img {
    max-width: 350px;
    max-height: 450px;
    animation: moveUpDown 3s ease-in-out infinite;
  }

  .why-chooseus-text-con p {
    font-size: 13px;
    margin: 5px 0px 10px 0px;
    flex-basis: content;
  }

  .why-chooseus-text-con h1 {
    font-size: 19px;
    font-weight: 600;
    margin: 0px 0px 5px 0px;
  }
}


/* -------------------------- Media Query for Mobile Screens ---------------------- */

@media (max-width:800px){
  .why-chooseus-inner{
    display: flex;
    flex-direction: column;
    padding: 25px;
  }


  .why-chooseus-text-con {
    max-width: 100%;
    margin-left: 50px;
    flex-basis: content;
    margin-left:25px;
    padding: 10px;
    margin: 0px;
  }

  .why-choose-img-con img {
    width: 400px;
    height: 350px;
  }
}